/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
	margin-right: 60px;
	margin-left: 75px;
}
.container {
	display: flex;
	flex-direction: column;
	width: 900px;
	margin: 0 auto;

}

 .navigation {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	position: fixed;
	background: lime;
	
	
}

 .navigation a {
	margin: 27px;
	text-decoration: none;
	text-align: left;
	color: black;
	vertical-align: top;
	transition: border-bottom .5s ease-in-out;
}
.navigation a:hover {
	border-bottom: 3px solid black;
	color: black;
	border-top: 3px solid black;
}

.navigation .logo{
	display: flex;
	justify-content: center;

	

}

header {
	margin-top: 60px;
	margin-bottom: 100px;
}

 #main {
	padding-top: 70px;
	text-align: center;
	width: 49.9;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}

#main .slogan {
	font-size: 5rem;
	text-align: center;
	margin: 50px 25px 5px 20px;
	width: 400px; 

	
 
}

div #main button {
font-size: 18px;
width: 150px;
padding: 5px 20px;
border: 1px solid black;
background: white;



}

.logo {
	margin-left: 40px;
	
}

.logo1 {
	width: 350px;
	float: right;
} 

div {
	display: flex;
	flex-flow: row nowrap;
	align-content: space-around;
	padding: 30px 0px;
}

div .first-section  {
	border-top: 1px solid black;
	padding: 50px 0px;
	
}
 .firts-section .box {
	
	width: 50%;
	/*margin-left: 100px;*/
	padding: 30px 0px;
	
}

.box {
	width: 90%;
	padding: 20px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.middle-img {
	margin: 10px 50px 40px 80px;
}
	
.div1 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.div1 .second-section {
	padding: 50px 0px;
	width: 90%;
	border-bottom: 1px solid black;
}


.second-section .box {
	
	width: 90%;
	padding: 20px 0px;
	align-items: center;
	
}

.paragraph {
	display: flex;
	flex-shrink: 30%;
}


address {
	display: flex;
	flex-direction: column;
	/*margin: 0px 10px;
	padding: 30px;
	text-align: left;*/

}
 
address p {
	padding: 20px 0px 20px;
}

footer {
	padding: 80px;
	text-align: center;
}